<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">User Table</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-dark">
      <tr>
        <th>UID</th>
        <th>User</th>
        <th>Academic College</th>
        <th>Role</th>
        <th>Email</th>
        <th>Registered Date</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if user.cards.active.present? %>
              <% user.cards.active.each do |card| %>
                <%= card.uid %>
              <% end %>
            <% elsif user.cards.inactive.present? %>
                Have registered cards but inactive.
            <% else %>
              No cards registered.
            <% end %>
          </td>
          <td><%= user.firstname %> <%= user.middlename %> <%= user.lastname %></td>
          <td> <%= user.academic_college %> </td>
          <td> <%= user.role %> </td>
          <td> <%= user.email %> </td>
          <td><%= user.created_at.strftime('%B %d, %Y %I:%M %p') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>