<h1>Register a New RFID Card</h1>

<p>Scanned RFID UID: <turbo-frame id="rfid-uid-placeholder">Waiting for scan...</turbo-frame>
  <%= turbo_stream_from "rfid_scans" %>
</p>

<%= form_with(model: @card, method: :post, local: true) do |form| %>
  <input type="hidden" id="rfid-uid-input" name="card[uid]" />

  <%= form.label :status %>
  <%= form.select :status, Card.statuses.keys.map { |status| [status.capitalize, status] },
                  { include_blank: "Select Status" },
                  { class: "form-select", required: true } %>

  <div class="mb-3">
    <%= form.label :user_id, "Professor", class: "form-label" %>
    <%= form.select :user_id,
                    User.active.order(:firstname).map { |user| ["#{[user.firstname, user.middlename, user.lastname].compact.join(' ')} (#{user.email})", user.id] },
                    { include_blank: "Select Professor" },
                    { class: "form-select", id: "user-select", required: true } %>
  </div>

  <div class="mb-3">
    <%= form.label :uid_type, class: "form-label" %>
    <%= form.select :uid_type, Card.uid_types.keys.map { |type| [type.capitalize, type] },
                    { include_blank: "Select UID TYPE" },
                    { class: "form-select", required: true } %>
  </div>

  <%= form.submit 'Register Card' %>
<% end %>